{% extends "base.html" %}

{% block content %}
<main class="container">
      <form class="row g-3" method="POST" action="">{% csrf_token %}
        <input type="hidden" name="previous_keyword" value="{{keyword}}">
        <div class="col-auto">
          <input type="text" class="form-control" id="inputPassword2" placeholder="エリア" name="keyword">
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-info mb-3">検索</button>
        </div>
      </form>
      <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h6 class="border-bottom pb-2 mb-0">「{{keyword}}」の近くのカラオケ</h6>
        {% for shop in shop_list %}
        <div class="d-flex text-muted pt-3">
          <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="0" height="0" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><img src="{{shop.photo.pc.s}}" width="38" height="38"></svg>
          <p class="pb-3 mb-0 small lh-sm border-bottom">
            <strong class="d-block text-gray-dark">{{shop.name}}</strong>
            <br><br>{{shop.catch}}<br><br>料金 : {{shop.budget.average}}<br>営業時間 : {{shop.open}}<br>{% if setting.midnight%}23時以降 : {{shop.midnight}}<br>{% endif%}定休日 : {{shop.close}}<br><br>{% if setting.capacity %}総席数 : {{shop.capacity}}席<br>{% endif%}{% if setting.wifi %}Wifi : {{shop.wifi}}<br>{% endif %}{% if setting.card %}クレジットカード : {{shop.card}}<br>{% endif %}{% if setting.non_smoking %}禁煙席 : {{shop.non_smoking}}<br>{% endif%}{% if setting.other_memo %}その他設備 : {{shop.other_memo}}<br>{% endif %}住所 : {{shop.address}}<br>アクセス : {{shop.access}}{% if setting.shop_detail_memo %}<br><br>備考 : {{shop.shop_detail_memo}}{% endif %}
          </p>
        </div>
        {% endfor %}
      </div>
</main>
{% endblock content %}